/*
Colors: 
*/
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
}
#contenedor{
	background-color: #E54E79;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 70px;
}
.loguito{
	position: relative;
	left: 200px;
	top: 15px;
	width: 15%;
	float: left;

}
.loguito img{
	width: 60px;
}
#links{
	display: inline;
	float: right;
	position: relative;
	right: 100px;
	top: 24px;
}
.links a:hover{
	background-color: rgba(117,114,108,0.5);
	padding: 27px 20px;
}
.links a{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: 27px 20px;
}
#sign_up{
	background:url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');
	background-size: cover;
	width: 100%;
	height: 900px;
}
.contenido{
	position: relative;
	margin-left: 800px;  
	top: 300px;
	}
#fondo{
	background-color: #00B2A9;
	width: 100%;
	height: 600px;
}
.fondo div h1{
	background-color: #EDE9E2;
	height: 55px;
	position: relative;
	top: 85px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	color: #75726C;
	font-size: 2.4em;
}
.caja_juegos{
	background-color: #EDE9E2;
	display: inline-block;
	position: relative;
	top: 180px;
	left: 130px;
	width: 80%;
	height: 300px;
}
.caja_juegos div div i{
	color: #75726C;
}
.autos{
	padding-left: 200px; 
	padding-top: 150px;
	margin-left: 80px;
	margin-right: 50px;
	border: 50px;
	
}
.cajitas{
	display: inline-block;
	margin-left: 10px;
}
.input{
	border: none;
	border-bottom: 50px;
	padding-left: 20px;
	padding-right: 30px;
	background-color: #EDE9E2;
	border-bottom: 0.2px solid;
	border-color: #75726C;
}
#start{
	background-color: #00B2A9;
	position: relative;
	left: 60px;
	top: 40px;
	width: 950px;
	height: 45px;
	border-radius: 15px;
	font-family: 'Raleway', sans-serif;
	color: #EDE9E2;
	font-size: 1.5em;
}
footer{
	background-color: #75726C;
	height: 220px;
}
.descripcion p{
	font-family: 'Raleway', sans-serif;
	color: #EDE9E2;
	font-size: 1.3em;
}
.copyright{
	position: relative;
	top: 40px;
	background-color: #616060;
	height: 60px;
}